doctype html
html
   head
    title harry dance academy
    block scripts
    block style
   body
    nav#navbar
        ul
            div#logo
                img(src="/static/logo1.png")
                | WDA
            li #[a(href="/") home]
            li #[a(href="/") about]
            li #[a(href="/") class info]
            li #[a(href="/") services]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        | copyright Ⓒ 2019 dance acadamy.com | all rights reserved
        