h1{
    text-align: center;
    margin: 12px  0;
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}
.myinput{
    display: block;
    width: 45%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    outline: none;
}
.container{
    min-height: 70vh;
    margin: 18px 0;
}
.myform{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn{
    background: red;
    border-radius: 20px;
    color: white;
    padding: 12px 27px;
    font-size: 15px;
    margin: 20px;
    cursor: pointer;
}